<h1>Add a new photo</h1>

<form action="/create_photo_record">
  <label for="image_input">Image URL</label>
  <input id="image_input" type="text" name="pic_image" placeholder="Enter a URL for the image...">

  <label for="caption_box">Caption</label>
  <textarea id="caption_box" name="pic_caption" placeholder="Enter a caption for the photo..."></textarea>

  <input type="hidden" name="poster_id" value="<%= current_user.id %>">

  <button>Add photo</button>
</form>
